.btn-cta {
  position: relative;
  padding: 1rem;

  @include response(tab-land) {
    padding: 1rem 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0.2rem;
    width: 50%;
    opacity: 0.7;
    background-color: #5da8ef;
    transition: all 0.3s;
    padding-bottom: 0.1rem;

    @include response(tab-land) {
      width: 75%;
    }
  }

  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}

@mixin blue-line($top, $bottom) {
  &::after {
    content: "";
    display: block;
    width: 0.2rem;
    height: 10rem;
    background-color: #5da8ef;
    margin: $top auto $bottom;
  }
}

.heading-secondary {
  color: #333333;
  @include playfair;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.042rem;

  @include response(tab-land) {
    font-size: 5rem;
  }
}

.text-secondary {
  opacity: 0.65;
  color: #616161;
  @include poppins;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.035rem;

  @include response(tab-land) {
    font-size: 2rem;
  }
}

.text-tertiary {
  text-transform: uppercase;
  color: #333333;
  @include league;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.54rem;
  transition: all 0.2s;

  @include response(tab-land) {
    font-size: 1.4rem;
  }
}
