.btn-cta {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 150%;
    left: 0;
    height: 0.2rem;
    width: 100%;
    opacity: 0.7;
    background-color: #5da8ef;
    transition: all 0.3s;
  }

  &:hover::after {
    opacity: 1;
    width: 150%;
    transform: translateX(-25px);
  }
}

.heading-secondary {
  color: #333333;
  @include playfair;
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: 0.042rem;
}

.text-secondary {
  opacity: 0.65;
  color: #616161;
  @include poppins;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.035rem;
}

.text-tertiary {
  text-transform: uppercase;
  color: #333333;
  @include league;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.54rem;
}
