//HEADER

.header {
  &-menu {
    height: 13vh;
    display: flex;
    justify-content: space-between;
  }

  &-hero {
    height: 62vh;
    // margin-top: 6rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url(../img/header.png);
    background-size: cover;
    background-position: center;
  }

  &-quote {
    height: 25vh;
    &__text {
      text-align: center;
      color: #333333;
      @include playfair;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 3.8rem;
      letter-spacing: 0.26px;
      width: 50%;
      padding-top: 8rem;
      margin: 0 auto;
    }

    &__author {
      @include league;
      text-align: center;
      color: #333333;
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin-top: 3rem;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;

  &__item {
    @include league;
    color: #0b0c11;
    font-size: 1.4rem;
    line-height: 6.6rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    opacity: 0.9;
    transition: all 0.2s ease-in;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.hero {
  &-caption {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4rem;

    &__primary {
      @include playfair;
      color: #fff;
      font-size: 5rem;
      line-height: 6.4rem;
      padding-bottom: 1rem;
      opacity: 0.9;
    }

    &__blockquote {
      color: #fff;
      font-size: 1.6rem;
      width: 60%;
      margin: 0 auto;
    }
  }
}

// MEDIA CONTENT

.media-content {
  margin-top: 12rem;
  height: 70vh;

  &--1 {
    width: 45%;
    display: flex;
    flex-direction: column;

    & img {
      width: 100%;
    }
  }

  &--2 {
    position: absolute;
    top: 10%;
    right: 0;
    width: 60%;

    & img {
      width: 100%;
    }
  }

  &__text {
    text-align: left;
    width: 60%;
    margin: 5rem auto 0;
  }

  &__btn {
    margin: 4rem auto 0;
    width: 60%;
  }
}

//SHOP
.shop {
  background-image: linear-gradient(
      to bottom,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 50%,
      #ffffff 99%
    ),
    url(../img/shop_bg.png);

  margin-top: 20rem;
  height: auto;
  width: 100%;

  &-heading {
    text-align: center;

    & h4 {
      color: #5da8ef;
      @include league;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.54rem;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__item {
      display: flex;
      position: relative;

      & img {
        filter: drop-shadow(-0.4rem -3rem 6.5rem rgba(11, 12, 17, 0.14));
      }

      &::before {
        content: url(../img/shop_base.png);
        position: absolute;
        bottom: 0;
        z-index: -10;
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--type {
        color: #7a7a7a;
        @include poppins;
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.24rem;
      }

      &--heading {
        color: #333333;
        @include playfair;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0.026rem;
      }

      &--price {
        color: #ce60a8;
        @include poppins;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: -0.01rem;
      }

      &--btn {
        color: #333333;
        @include league;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.54rem;
      }
    }
  }

  &-show_btn {
    text-align: center;
    margin-top: 7rem;
    padding-bottom: 1rem;
  }
}

//ARTICLE

.article-first {
  margin-top: 18rem;
  display: flex;

  &__content {
    flex: 0 0 30%;
    margin: auto;
    background-image: url(../img/article_heading_back1.png);
    background-repeat: no-repeat;
    background-position: left top;

    & h2 {
      padding-top: 6rem;
    }
  }
  &__img {
    flex: 0 1 65%;
  }
}

.article-second {
  margin-top: 12rem;
  display: flex;

  &__content {
    flex: 0 0 30%;
    margin: auto;
    background-image: url(../img/article_heading_back2.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 1rem;

    & h2 {
      padding-top: 6rem;
    }
  }
  &__img {
    flex: 0 1 35%;
    margin-left: auto;
  }
}

//subscribe

.subscribe {
  margin-top: 20rem;
  text-align: center;

  &-form {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    position: relative;

    & div {
      background-image: url(../img/send-button.png); //replace
      width: 5rem;
      & img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  & h3 {
    width: 50%;
    margin: auto;
  }

  & input {
    width: 45%;
    height: 5rem;
    padding-left: 4rem;
    outline: none;
    border: none;
    letter-spacing: 0.2rem;
    text-transform: none;
    background-color: #f5f5f5;
    color: #333333;
    box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.03);

    &::-webkit-input-placeholder {
      opacity: 0.9;
      color: #333333;
      @include league;
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 6.6rem;
      text-transform: uppercase;
      letter-spacing: 0.54rem;
    }
  }
}

//contacts
.contacts {
  margin-top: 14rem;

  display: flex;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 4.5rem;

    & h4 {
      color: #0b0c11;
      opacity: 0.27;
    }
  }
}

//footer
.footer {
  margin-top: 10rem;
  margin-bottom: 7rem;

  &-logo {
    margin: auto;
    display: block;
  }

  &-menu .navigation {
    justify-content: space-between;
    width: 50%;
    margin: 3rem auto 0;
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 3rem auto 0;

  &__item {
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}
