.container {
  padding-right: 2rem;
  padding-left: 2rem;

  & > *:not(:first-child) {
    opacity: 0;
    transform: translateY(20rem);
    transition: transform 1.5s ease-in, opacity 3s ease;
  }

  @include response(tab-land) {
    padding-right: 0;
    padding-left: 0;
  }
}

.section {
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  max-width: 1225px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @include response(tab-land) {
    border-left: none;
    border-right: none;
  }
}
