//contacts
.contacts {
  margin-top: 14rem;
  display: flex;

  & img {
    width: 50%;
  }

  &-content {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;

    & h4 {
      color: #0b0c11;
      opacity: 0.27;
    }

    &__address {
      width: 60%;
      margin: 0 auto;
      color: #333333;
      @include playfair;
      font-size: 3.2rem;
      letter-spacing: 0.032rem;
      font-style: normal;

      @include response(tab-land) {
        width: 100%;
      }
    }
  }
}
