//subscribe

.subscribe {
  margin-top: 7rem;
  text-align: center;

  @include response(phone) {
    margin-top: 15rem;
  }

  &-form {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    position: relative;

    & div {
      background-image: url(../img/send-button.png); //replace
      width: 5%;

      @include response(phone) {
        width: 10%;
      }
      & img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  & h3 {
    width: 50%;
    margin: auto;

    @include response(phone) {
      width: 75%;
    }
  }

  & input {
    width: 45%;
    height: 5rem;
    padding-left: 4rem;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: none;
    background-color: #f5f5f5;
    color: #333333;
    box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.03);

    @include response(phone) {
      width: 65%;
    }

    &::-webkit-input-placeholder {
      opacity: 0.9;
      color: #333333;
      @include league;
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 6.6rem;
      text-transform: uppercase;
      letter-spacing: 0.54rem;

      @include response(tab-land) {
        font-size: 1.1rem;
      }
    }
  }
}
